[Desktop Entry]
Name=Orcide
Comment=Open source AI code editor.
GenericName=Text Editor
Exec=orcide %F
Icon=orcide
Type=Application
StartupNotify=false
StartupWMClass=Orcide
Categories=TextEditor;Development;IDE;
MimeType=application/x-orcide-workspace;
Keywords=orcide;
Actions=new-empty-window;

[Desktop Action new-empty-window]
Name=New Empty Window
Name[de]=Neues leeres Fenster
Name[es]=Nueva ventana vacía
Name[fr]=Nouvelle fenêtre vide
Name[it]=Nuova finestra vuota
Name[ja]=新しい空のウィンドウ
Name[ko]=새 빈 창
Name[ru]=Новое пустое окно
Name[zh_CN]=新建空窗口
Name[zh_TW]=開新空視窗
Exec=orcide --new-window %F
Icon=orcide
